{
  "presets":[
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    // ["transform-es2015-modules-commonjs",{"loose": true}],
    // "@babel/plugin-transform-async-to-generator",
    // "@babel/plugin-transform-modules-commonjs"
    // "babel-plugin-transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "presets": [["minify", {
        "mangle": false
      }]]
    }
  }
}
